img {
	width:100%;
}

.settings-dropdown {
	margin-right: 10px;
	float:right;
}
.control-cluster {
	display:block;
}
.control {
	margin-bottom:1em;
}
.controls {
	margin-top:3em;
}
.selected {
	margin-top: 15px;
	margin-bottom: 15px;
}
.control-button {
	width:100%;
}

.mycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myzone {
  position: relative;
  width: 0.5vw;
  height: 135px;
  left: 0;
}

.myzone-absolute {
  position: absolute;
  width: 75vw;
  height: 200px;
}

.mynoselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.video-feed {
	height:640px;
	width:100%;
}
