<app-header></app-header>
<div class="alert alert-danger" role="alert" *ngIf="!connected">
	<strong>Oh no!</strong> You aren't connected to the backend service.
</div>


<div class="row">
    <div class="col">
		<button *ngIf = "comPort == null || cameraPort == null" type="button" class="btn btn-secondary"(click)="open(content)">Add Camera <i class="fas fa-plus"></i></button>
		<div class = "selected">
			<h6>Current Camera: {{cameraPort ? "Camera " + cameraPort : "None Selected"}}</h6>
			<h6>Current Serial Port: {{comPort ? comPort : "None Selected"}}</h6>
		</div>

		<div class="custom-control custom-switch">
			<input #debugSwitch type="checkbox" class="custom-control-input" id="debugSwitch" [checked]="debugMode" (change)="toggleDebugMode(debugSwitch.checked)">
			<label class="custom-control-label" for="debugSwitch">Debug Mode</label>
		</div>
		<h2>stream should go here</h2>
    </div>
    <div class="col">
		<div ngbDropdown class = "settings-dropdown" container="body"  *ngIf = "comPort != null && cameraPort != null"  >
			<button class="btn  btn-secondary btn-sm" ngbDropdownToggle>Settings <i class="fas fa-cog"></i></button>
			<div ngbDropdownMenu>
				<h6 class="dropdown-header">Settings</h6>
				<button ngbDropdownItem (click)="refreshSerial()">Refresh Available Serial Ports</button>
				<button ngbDropdownItem (click)="refreshVideoPorts()">Refresh Available Camera Ports</button>
				<button ngbDropdownItem (click) = "resetCameraConnection()">Refresh COM Connection</button>
				<div class="dropdown-divider"></div>
				<button ngbDropdownItem (click)="destroyCamera()">Disconnect from Camera</button>
			</div>
		</div>
        <div class = "controls" *ngIf = "true"> <!-- comPort != null && cameraPort != null -->
			<div class = "control button-controls">
				<h4>Button Control</h4>
				<div class="container">
					<div class="row mb-3">
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('upleft')" (pointerup)=handleStopCommand($event)>
								<span class="fa-rotate-by" style="display: inline-block; --fa-rotate-angle: -45deg;">
									<i class="fa-solid fa-arrow-up"></i>
								</span>
							</button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('up')" (pointerup)=handleStopCommand($event)><i class="fa-solid fa-arrow-up"></i></button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('upright')" (pointerup)=handleStopCommand($event)>
								<span class="fa-rotate-by" style="display: inline-block; --fa-rotate-angle: 45deg;">
									<i class="fa-solid fa-arrow-up"></i>
								</span>
							</button>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('left')" (pointerup)=handleStopCommand($event)><i class="fa-solid fa-arrow-left"></i></button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="sendCameraHome()" (pointerup)=handleStopCommand($event)><i class="fa-solid fa-circle"></i></button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('right')" (pointerup)=handleStopCommand($event)><i class="fa-solid fa-arrow-right"></i></button>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('downleft')" (pointerup)=handleStopCommand($event)>
								<span class="fa-rotate-by" style="display: inline-block; --fa-rotate-angle: -135deg;">
									<i class="fa-solid fa-arrow-up"></i>
								</span>
							</button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('down')" (pointerup)=handleStopCommand($event)><i class="fa-solid fa-arrow-down"></i></button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary control-button" (pointerdown)="handleButtonEvent('downright')" (pointerup)=handleStopCommand($event)>
								<span class="fa-rotate-by" style="display: inline-block; --fa-rotate-angle: 135deg;">
									<i class="fa-solid fa-arrow-up"></i>
								</span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class = "control joystick">
				<h4>JoyStick Control</h4>
                <div class="mycontainer mynoselect"> 
                    <div class="myzone">
                         <ngx-joystick #staticJoystic
                                [options]="staticOptions"
                                (start)="onStartStatic($event)"
                                (end)="onEndStatic($event)"
                                (move)="onMoveStatic($event)"
                                (plainUp)="onPlainUpStatic($event)"
                                (plainDown)="onPlainDownStatic($event)"
                                (plainLeft)="onPlainLeftStatic($event)"
                                (plainRight)="onPlainRightStatic($event)">
                        </ngx-joystick>
                    </div>
                </div>
			</div>
			<div class = "control zoom">
				<h4>Zoom Slider</h4>
                <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
			</div>
			<div class = "control control-cluster">
				<h4>Camera Controls</h4>
				<div class="container">
					<div class="row">
						<div class="col-sm">
							<button type="button" class="btn btn-primary">Camera Home</button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary" (pointerdown)=resetCameraConnection()>Reset Camera</button>
						</div>
						<div class="col-sm">
							<button type="button" class="btn btn-primary">Stop Camera</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class = "debug-panel" *ngIf="debugMode">
			<h5>Debug Panel</h5>
			<div *ngIf="debugMode">
				<button (click)="connectToCamera()">Hello Connect!</button><br>
				<button (click)="setActiveCOMPort()">Cause Test Exception!</button>
			</div>

			<label for="debug-messages">Debug Messages</label>
			<textarea #debugArea class="form-control" id="debug-messages" rows="3"></textarea>
		</div>

		<h3 *ngIf = "comPort == null && cameraPort == null">No Camera Registered Yet!</h3>
	</div>
</div>



<ng-template #content let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">Add Camera</h4>
	  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	  </button>
	</div>
	<div class="modal-body">
	  <form>
		<div class="form-group">
		  <label for="visca-serial-port">VISCA Serial Port</label>
		  <select class="form-select" aria-label="VISCA Selection">
			<option *ngFor="let com of availableCom; let i = index" [value]="availableCom[i]">
				{{com}}
			</option>
		  </select>
		  <br>
		  <label for="visca-camera-port">VISCA Camera Port</label>
		  <select class="form-select" aria-label="Camera Selection">
				<option *ngFor="let camera of availableVideo; let i = index" [value]="availableVideo[i]">
					{{camera}}
				</option>
			</select>
		</div>
	  </form>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Connect</button>
	</div>
  </ng-template>

<router-outlet></router-outlet>
