img {
	width:100%;
}

.settings-dropdown {
	margin-right: 10px;
	float:right;
}
.control-cluster {
	display:block;
}
.control {
	margin-bottom:1em;
}
.controls {
	margin-top:3em;
}
.selected {
	margin-top: 15px;
	margin-bottom: 15px;
}
.control-button {
	width:100%;
}

.video-feed {
	height:640px;
	width:100%;
}